@page
@using Microsoft.Extensions.Localization
@using Cb.Samples.ProjectManagement.Localization
@using Cb.Samples.ProjectManagement.Web.Pages.ProjectManagement
@model Cb.Samples.ProjectManagement.Web.Pages.ProjectManagement.IndexModel
@inject IStringLocalizer<ProjectManagementResource> L

@{
}
<h1>ProjectManagement</h1>
<p>@L["SamplePageMessage"]</p>
