@page
@using Microsoft.Extensions.Localization
@using Cb.Samples.CustomerManagement.Localization
@using Cb.Samples.CustomerManagement.Web.Pages.CustomerManagement
@model Cb.Samples.CustomerManagement.Web.Pages.CustomerManagement.IndexModel
@inject IStringLocalizer<CustomerManagementResource> L

@{
}
<h1>CustomerManagement</h1>
<p>@L["SamplePageMessage"]</p>
